<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="tws.geoitd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <tws.geoitd.Properties.Settings>
      <setting name="GeoITD_PosID" serializeAs="String">
        <value>43113460</value>
      </setting>
      <setting name="GeoITD_SystemID" serializeAs="String">
        <value>F3D5877B-3C08-488C-BE97-907444042490</value>
      </setting>
      <setting name="GeoITD_Branch" serializeAs="String">
        <value>LOCAL 1</value>
      </setting>
      <setting name="GeoITD_URL" serializeAs="String">
        <value>CDA<![CDATA[http://geoitddev.geocom.com.uy:8554/v2/itdservice]]></value>
      </setting>
    </tws.geoitd.Properties.Settings>
  </applicationSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPOSInterfaceService" />
        <binding name="BasicHttpBinding_IPOSInterfaceService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CustomBinding_IPOSInterfaceService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256"
                establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://geoitddev.geocom.com.uy:8554/v2/ITDService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSInterfaceService"
          contract="GeoITDClientSOAP.IPOSInterfaceService" name="BasicHttpBinding_IPOSInterfaceService" />
    </client>
  </system.serviceModel>
</configuration>