<configuration>

  <!-- Define el nivel de registro de LOG (0 = FATAL, 5 = INFO, 10 = DEBUG) -->
  <setting name="LOG_VERBOSITY_LEVEL">
    <value>0</value>
  </setting>

  <!-- Define si se debe mostrar la versión del FIP al iniciar -->
  <setting name="SHOW_VERSION">
    <value>true</value>
  </setting>

  <!-- URL de la AIP de Mercado Libre -->
  <setting name="MERCADO_LIBRE_API_URL">
    <value>
      <![CDATA[
        https://api.mercadopago.com
      ]]>
    </value>      
  </setting>  

 <!-- URL de la AIP de Mercado Pago -->
  <setting name="MERCADO_PAGO_API_URL">
    <value>
      <![CDATA[
        https://api.mercadopago.com
      ]]>      
    </value>
  </setting>

  <!-- TOKEN de acceso para comunicación con la API ML/MP -->
  <setting name="MERCADO_PAGO_API_ACCESS_TOKEN">
    <value>
      <![CDATA[
            
      ]]>
    </value>
  </setting>

  <!-- Recurso para posteo de órden QR -->
  <setting name="QR_POST_ORDER_RESOURCE">
    <value>
      <![CDATA[
      /mpmobile/instore/qr
      ]]>
  </value>
  </setting>  

 <!-- Recurso para consulta de pagos -->
  <setting name="PAYMENT_SEARCH_RESOURCE">
    <value>
      <![CDATA[
        /v1/payments/search
      ]]>
  </value>
  </setting>

  <!-- Recurso para pagos con QR Comprador (cliente) -->
  <setting name="PAYER_QR_POST_ORDER_RESOURCE">
    <value>
      <![CDATA[
        /instore/middleware/test/advanced_payments
      ]]>
    </value>
  </setting>
  
  <!-- SPONSOR ID -->
  <setting name="SPONSOR_ID">
    <value>
      <![CDATA[
      240228644
      ]]>
    </value>
  </setting>


  <!-- ======================================================================-->
  <!-- ======================== SIMPHONY CONFIG AREA ========================-->
  <!-- ======================================================================-->

  <!-- ______________________________________________________________________ -->
  <!-- Razón Social de la empresa -->
  <setting name="CUSTOMER_NAME">
    <value></value>
  </setting>
  
  <!-- ______________________________________________________________________ -->
  <!-- Identificador Fiscal de la empresa (CUIT/NIT/RUC/RUT/... etc -->
  <setting name="CUSTOMER_FISCAL_ID">
    <value></value>
  </setting>
  
  <!-- ______________________________________________________________________ -->
  <!-- Si se activa, los montos enviados como medios de pago de cortesías 
       serán formateados utilizando la configuración regional interna de 
       Simphony, caso contrario se utilizará la configuración regional del 
       sistema -->
  <setting name="USE_SIMPHONY_DECIMAL_SEPARATOR_FOR_TENDERS">
    <value>false</value>
  </setting>

  <!-- ______________________________________________________________________ -->
  <!-- Identificador de Usuario en MP -->
  <setting name="COLLECTOR_ID">
    <value></value>
  </setting>

  <!-- ______________________________________________________________________ -->
  <!-- Identificador de tienda -->
  <setting name="STORE_ID">
    <value></value>
  </setting>

  <!-- ______________________________________________________________________ -->
  <!-- Objcect Number del Medio de pago MERCADO PAGO -->
  <setting name="MP_TENDER_OBJ_NUM">
    <value></value>
  </setting>

  <!-- ______________________________________________________________________ -->
  <!-- Moneda utilizada en los pagos -->
  <setting name="MP_CURRENCY">
    <value></value>
  </setting>

  <!-- ______________________________________________________________________ -->
  <!-- Tiempo de espera máximo en segundos entre que se envía la solicitud
       de pago, hasta que se recibe el mismo. Pasado este tiempo la interface 
       solicitará al usuario que indique si requiere más tiempo o si cancela 
       la operación -->
  <setting name="MP_TIMEOUT">
    <value></value>
  </setting>

</configuration>